{% extends "components/base.html" %}
{% load static %}

{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}


{% block main %}
<div class="container">
    {% if not page %}
    <div class="text-center">
        No data
    </div>
    {% else %}
    <ol class="list-group list-group-numbered">
        {% for task in page %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{task.title}}</div>
                {{task.description}} {{task.id}}
            </div>
            <div class="p-2">
            {% if task.is_completed %}
                <span class="badge bg-primary rounded-pill">выполнено</span>
            {% else %}
                <span class="badge bg-danger rounded-pill">не выполнено</span>
            {% endif %}      
            </div>
            <div><a class="btn btn-primary btn-sm px-4 gap-3" href="{% url 'detailtodo' task.id %}">подробнее</a></div>
            
        </li>
        
        {% endfor %}
    </ol>
    {% endif %}
    <div>
        {% include 'components/paginator.html' %}
    </div>
</div>
{% endblock main %}


{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}

