{% extends "components/base.html" %}
{% load static %}


{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}


{% block title %}
    Изменение задачи
{% endblock title %}








{% block main %}
<main class="flex-shrink-0 bg-light container">
    <div class="d-flex text-center">

    <form
        action="{% url 'updatetodo' todo.id %}"
        method="POST"
        enctype="multipart/form-data"
        target="_self"
        class="form-control form-control-lg m-1 p-1"
        style="width: 350px"
    >
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Изменяем уже созданную задачу {{ todo.title }}: </h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="введи название тут..." name="title" value="{{ todo.title }}">
          <label for="floatingInput">Введите название задачи:</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingPassword" placeholder="Введи описание тут...sword" name="description" value="{{ todo.description }}">
          <label for="floatingPassword">Введите описание задачи:</label>
        </div>

        {% if todo.is_completed %}
        <p class="text-success">задача выполена:  да</p>        
        {% else %}
        <p class="text-danger">задача выполнена:  нет</p>
        {% endif %}


        <a class="w-100 btn btn-lg btn-primary" href="{% url 'update_todolist_status' todo.id %}">переключить статус задачи</a>     

       <br>
       <br>

      

     
        <button class="w-100 btn btn-lg btn-primary" type="submit">Изменить</button>
        
       
      </form>
    </div>
</main>
{% endblock main %}


{% block footer %}
    {% include 'components/footer.html' %}
{% endblock footer %}